html {
  height: 100%;
  width: 45%;
}

h1
{
  text-align: right
}

body{
  background-color : #B8E2F2;
}

#baseBtn1{
  border-radius: 12px;
  background-color: #f0d29e;
  border: 2px solid #977749;;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
/*changes made*/
#baseBtn1:active{
  transform: sclae(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#baseBtn2{
  border-radius: 12px;
  background-color: #f0d29e;
  border: 2px solid #977749;;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#baseBtn2:active{
  transform: sclae(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#baseBtn3{
  border-radius: 12px;
  background-color: #f0d29e;
  border: 2px solid #977749;;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#baseBtn3:active{
  transform: sclae(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


#fillingBtn1{
  border-radius: 12px;
  background-color: #f0d29e;
  border: 2px solid #977749;;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#fillingBtn1:active{
  transform: sclae(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


#fillingBtn2{
  border-radius: 12px;
  background-color: #f0d29e;
  border: 2px solid #977749;;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#fillingBtn2:active{
  transform: sclae(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


#fillingBtn3{
  border-radius: 12px;
  background-color: #f0d29e;
  border: 2px solid #977749;;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#fillingBtn3:active{
  transform: sclae(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


#toppingBtn1{
  border-radius: 12px;
  background-color: #f0d29e;
  border: 2px solid #977749;;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#toppingBtn1:active{
  transform: sclae(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#toppingBtn2{
  border-radius: 12px;
  background-color: #f0d29e;
  border: 2px solid #977749;;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#toppingBtn2:active{
  transform: sclae(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#toppingBtn3{
  border-radius: 12px;
  background-color: #f0d29e;
  border: 2px solid #977749;;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#toppingBtn3:active{
  transform: sclae(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#totalBtn{
  border-radius: 12px;
  background-color: #62d331;
  border: 2px solid #045828;;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#totalBtn:active{
  transform: sclae(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
